*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JeeProject/nbproject/private/
/JeeProject/JeeProject-war/nbproject/private/
/JeeProject/JeeProject-ejb/nbproject/private/
/GestionMedic/nbproject/private/
/GestionMedic/build/